.idea
idea
.DS_Store

*.egg-info/
.installed.cfg
*.egg

dist

venv
.env
./src/settings.py
/src/settings.py
local_config.py
social_app.py
.env.dev
__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc
src/settings
!src/db/migrations/.gitkeep
src/db/migrations/*